*{
    margin: 0;
    padding: 0;
}

h2{
    color: red;
    font-style: italic;
    font-weight:lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    text-decoration: overline;
    text-align: center;
 }
 #heading-parent{
background-color: rgb(110, 34, 6);
height: 600px;
padding: 200px;
width: 600px;
margin:40px auto;
 }